
/*
Font families defined by this CSS:
  - KarlaVariable  variable font for modern web browsers
  - Karla          static fonts for older web browsers (small optical size)
  - KarlaDisplay   static fonts for older web browsers (large optical size)

Usage example:
  :root { font-family: Karla, sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: KarlaVariable, sans-serif; }
  }

*/
@font-face {
  font-family: KarlaVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../font/karla/Karla-VariableFont_wght.woff2?v={{font_v}}') format('woff2');
}
@font-face {
  font-family: KarlaVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('../font/karla/Karla-Italic-VariableFont_wght.woff2?v={{font_v}}') format('woff2');
}
/* legacy name "Karla var" (Oct 2023) */
@font-face { font-family:'Karla var'; font-style:normal; font-weight:100 900; font-display:swap; src: url('../font/karla/Karla-VariableFont_wght.woff2?v={{font_v}}') format('woff2'); }
@font-face { font-family:'Karla var'; font-style:italic; font-weight:100 900; font-display:swap; src: url('../font/karla/Karla-Italic-VariableFont_wght.woff2?v={{font_v}}') format('woff2'); }
/* static fonts */
@font-face { font-family:Karla; font-style:normal; font-weight:200; font-display:swap; src:url("../font/karla/Karla-ExtraLight.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:italic; font-weight:200; font-display:swap; src:url("../font/karla/Karla-ExtraLightItalic.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:normal; font-weight:300; font-display:swap; src:url("../font/karla/Karla-Light.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:italic; font-weight:300; font-display:swap; src:url("../font/karla/Karla-LightItalic.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:normal; font-weight:400; font-display:swap; src:url("../font/karla/Karla-Regular.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:italic; font-weight:400; font-display:swap; src:url("../font/karla/Karla-Italic.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:normal; font-weight:500; font-display:swap; src:url("../font/karla/Karla-Medium.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:italic; font-weight:500; font-display:swap; src:url("../font/karla/Karla-MediumItalic.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:normal; font-weight:600; font-display:swap; src:url("../font/karla/Karla-SemiBold.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:italic; font-weight:600; font-display:swap; src:url("../font/karla/Karla-SemiBoldItalic.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:normal; font-weight:700; font-display:swap; src:url("../font/karla/Karla-Bold.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:italic; font-weight:700; font-display:swap; src:url("../font/karla/Karla-BoldItalic.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:normal; font-weight:800; font-display:swap; src:url("../font/karla/Karla-ExtraBold.woff2?v={{font_v}}") format("woff2"); }
@font-face { font-family:Karla; font-style:italic; font-weight:800; font-display:swap; src:url("../font/karla/Karla-ExtraBoldItalic.woff2?v={{font_v}}") format("woff2"); }

@font-feature-values KarlaVariable {
    @character-variant {
        cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8;
        cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;
        alt-1:            1; /* Alternate one */
        alt-3:            9; /* Flat-top three */
        open-4:           2; /* Open four */
        open-6:           3; /* Open six */
        open-9:           4; /* Open nine */
        lc-l-with-tail:   5; /* Lower-case L with tail */
        simplified-u:     6; /* Simplified u */
        alt-double-s:     7; /* Alternate German double s */
        uc-i-with-serif:  8; /* Upper-case i with serif */
        uc-g-with-spur:  10; /* Capital G with spur */
        single-story-a:  11; /* Single-story a */
        compact-lc-f:    12; /* Compact f */
        compact-lc-t:    13; /* Compact t */
    }
    @styleset {
        ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;
        open-digits: 1;                /* Open digits */
        disambiguation: 2;             /* Disambiguation (with zero) */
        disambiguation-except-zero: 4; /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;    /* Round quotes &amp; commas */
        square-punctuation: 7;         /* Square punctuation */
        square-quotes: 8;              /* Square quotes */
        circled-characters: 5;         /* Circled characters */
        squared-characters: 6;         /* Squared characters */
    }
}
@font-feature-values Karla {
    @character-variant {
        cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8;
        cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;
        alt-1:            1; /* Alternate one */
        alt-3:            9; /* Flat-top three */
        open-4:           2; /* Open four */
        open-6:           3; /* Open six */
        open-9:           4; /* Open nine */
        lc-l-with-tail:   5; /* Lower-case L with tail */
        simplified-u:     6; /* Simplified u */
        alt-double-s:     7; /* Alternate German double s */
        uc-i-with-serif:  8; /* Upper-case i with serif */
        uc-g-with-spur:  10; /* Capital G with spur */
        single-story-a:  11; /* Single-story a */
        compact-lc-f:    12; /* Compact f */
        compact-lc-t:    13; /* Compact t */
    }
    @styleset {
        ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;
        open-digits: 1;                /* Open digits */
        disambiguation: 2;             /* Disambiguation (with zero) */
        disambiguation-except-zero: 4; /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;    /* Round quotes &amp; commas */
        square-punctuation: 7;         /* Square punctuation */
        square-quotes: 8;              /* Square quotes */
        circled-characters: 5;         /* Circled characters */
        squared-characters: 6;         /* Squared characters */
    }
}
